@import "reset.css";

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transform ease-in-out 0.1s;
}
.color-option:hover {
  transform: scale(1.2);
}
input#color {
  background-color: #fff;
}
button,
label {
  all: unset; /* css속성을 모두 제거 */
  padding: 10px;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity linear 0.1s;
}
button:hover {
  opacity: 0.85;
}
input#file {
  display: none;
}

input#text {
  all: unset;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  background-color: #fff;
}
